<h2>List of Ratings </h2>

<p><%= "#{@ratings.count} beers rated so far." %></p>

<ul>
  <% @ratings.each do |rating| %>
      <li><%= rating %> <%= link_to rating.user.username, current_user %> </li>
  <% end %>
</ul>

<p><%= link_to "Fancied a pint? Rate your experience!", new_rating_path %></p>

